.container-vanzare {
  background: rgb(143, 100, 100);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: top 20px;
  width: 100%;
}

.box-vanzare {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60%;
  background: #d9d9d9;
  border-color: black;
}

.container-vanzare > h1 {
  font-size: 32px;
}

.text_vanzare {
  font-size: 18px;
  width: 70%;
  margin-top: 20px;
}

.titlu_vanzare {
  margin-top: 30px;
  margin-bottom: 30px;
}

.butoane-vanzare {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.btn-redacteaza {
  width: 150px;
  height: 40px;
  font-size: 20px;
}
.btn-inapoi {
  height: 40px;
  width: 150px;
  font-size: 20px;
}

.img-vanzare {
  width: 100%;
}
.imagine-vanzare {
  width: 70%;
}

@media screen and (max-width: 768px) {
  .titlu_vanzare {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .butoane-vanzare {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
